.itemsdash {
  width: 100vw;
  background-color: #131313;
  display: table;
}

.card {
  width: 70%;
  background-color: transparent;
}

.autocomplete {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ff4d4f;
}

.autocomplete:hover {
  border-color: #ff4d4f;
}

.autocomplete:focus {
  border-color: #ff4d4f;
}

.autoContainer {
  width: 50%;
}

.scrollContainer {
  overflow: scroll;
  width: 90%;
  margin-top: 10%;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.1);

}

.item {
  color: #ff4d4f;
}

.description {
  color: #fff;
}

.row {
  margin-bottom: 5%;
}
